In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
utility_id_ferc1,29523.0,1.186018e+02,7.417835e+01,1.000000,55.0000,122.000000,176.000,5.140000e+02
report_year,29523.0,2.005806e+03,7.025483e+00,1994.000000,2000.0000,2006.000000,2012.000,2.018000e+03
fuel_qty_burned,29523.0,2.622119e+06,9.118004e+06,1.000000,13817.0000,253322.000000,1424034.000,5.558942e+08
fuel_mmbtu_per_unit,29523.0,8.492111e+00,1.060022e+01,0.000001,1.0240,5.762694,17.006,3.412600e+02
fuel_cost_per_unit_burned,29523.0,2.086490e+02,2.854490e+03,-276.080000,5.2070,26.000000,47.113,1.393580e+05
fuel_cost_per_unit_delivered,29523.0,9.175704e+02,6.877593e+04,-874.937000,3.7785,17.371000,42.137,7.964521e+06
fuel_cost_per_mmbtu,29523.0,1.930435e+01,2.091541e+03,-41.501000,1.9400,4.127000,7.745,3.592780e+05

In [ ]:
df['fuel_cost_per_unit_burned'].mean()

In [12]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [17]:
fuel_skewness = df['fuel_qty_burned'].skew()
fuel_skewness.round(2)

15.85

In [18]:
fuel_kortosis = df['fuel_qty_burned'].kurt()
fuel_kortosis.round(2)

651.37

In [27]:
df.isna().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [31]:
df['fuel_unit'].isna().sum()

180

In [48]:
percent = df['fuel_unit'].isna().sum()/(len(df['fuel_unit']))*100
percent.round(3)

0.61